# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Python
__pycache__/
*.pyc
*.log
venv/
.venv/
env/
ENV/

# testing
coverage/
.pytest_cache/
.mypy_cache/

# next.js
.next/
out/

# production
build/

# uploads
**/uploads/

# env files
.env
.env.*

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# database
*.db
*.sqlite3